<div class="hero-header" style="
  background-image: url('{{ page.image }}'); 
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;       ">  
  <br>
  <div>
    <a href="/"><img src="/img/yo_emoji.png" width="20"><p style="color: white; font-weight: bold">dmartincc</p></a>
  </div>
  <br>
  <br>
  <div class="container-narrow center" id="fade-in">
    <h1 style="font-size:42px" itemprop="name headline"><strong>{{page.title | escape }}</strong></h1>
    <br>
    <a href="/{{ page.category }}">
      <p class="category">
      {% if page.category == 'lab'%}🔬{%endif%}
      {% if page.category == 'oficina'%}💻{%endif%}
      {% if page.category == 'móvil'%}📵{%endif%}
      {{ page.category | capitalize }}</p>
    </a>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>