<div class="hero-header" style="
  background-image: url('https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bcd2bf5b6271090e70ea12980ddb02d7&auto=format&fit=crop&w=1534&q=80'); 
  background-size: cover;">  
  <br>
  <div>
    <a href="/"><img src="/img/yo_emoji.png" width="20"><p style="color: white; font-weight: bold">dmartincc</p></a>
  </div>
  <div class="container-narrow padding-vertical center" id="fade-in">
    <h1 style="font-size:42px"><strong>Mis escritos</strong></h1>
  </div>
</div>