---
layout: blog
permalink: /lab/
title: Cosas que he aprendido en mi doctorado
image: /img/photo-1518186285589-2f7649de83e0.jpeg
category: lab
---

<div class="home">
  <br>
  <!--  { content }  -->

    <ul class="post-list">
      {% for post in site.posts %}
        {% if post.category == 'lab' %}
        <li itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2>
              <a itemprop="url" href="{{ post.url | relative_url }}">
                <span class="post-title" itemprop="name headline">{{ post.title | escape }}</span>
              </a>
            </h2>
            <p>
              <!-- <span class="post-meta">Por {{ post.author }}</span> · -->
              <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{% include locale-dates.html date=post.date %}⏳ Actualizado el <b>{{ day }} de {{ month }} de {{ year }}</b></time>
            </p>
            <p itemprop="description">
              {{ post.description | escape }}
              <a href="{{ post.url | relative_url }}">
                Leer Más
              </a>
            </p>
            <img class="post-cover" src="{{post.img}}" alt="">
        </li>
        {% endif %}
      {% endfor %}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
