$v-unit: 40px;


$brand-font: 'Palanquin Dark', sans-serif;
$sans-serif-font: 'Source Sans Pro', sans-serif;
$serif-font: 'Bitter', serif;


$weight-bold: 600;
$weight-bolder: 700;
$weight-normal: 400;


$black: #363E40;
$grey: #7A97BA;
$grey-light: #DADFE5;
$grey-lightest: #ebeff4;
$pink: #F58888;
$yellow: #EFD56C;
// $blue: #50A1FF;
$blue: #1D86FF;
$link: $blue;
$green: #50FFBD;

$radius: 8px;

$mobile-bp: 600px;
$tablet-bp: 900px;
