.blog-header{
  @extend .clearfix;
  background-color: #efd56c;
  background-image: linear-gradient(#efd56c, #f58888);
  background: linear-gradient(45deg, #efd56c 0, #f58888 100%);
  color: #fff;
}

.blog-header__logo.blog-header__logo{
  color: #fff;
  font-family: $brand-font;
  line-height: 64px;
  font-size: 1.2rem;
  &:hover{
    text-decoration: none;
  }
}

.blog-header__actions{
  @extend .clearfix;
  padding-top:10px;
  float: right;
}

@media screen and (max-width: 600px){
  .blog-header{
    text-align: center;
  }
  .blog-header__logo{
    display: block;
    text-align: center;
    line-height: 1rem;
  }
  .blog-header__actions{
    float: none;
  }
}

.main-cta--blog.main-cta--blog{
  color: #fff;
  margin-top: 14px;
}

.blog-header__secondary-cta.blog-header__secondary-cta{
  line-height: 64px;
  color: #fff;
  margin-left: 10px;
  font-weight: $weight-bold;
}

@media screen and (max-width: 600px){
  .main-cta--blog.main-cta--blog{
    margin: 0;
  }
  .blog-header__secondary-cta.blog-header__secondary-cta{
    display: block;
    float: none;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}

.post-list.post-list{
  li{
    margin-bottom: 4rem;
  }
}

.post-link.post-link{
  &:hover{
    text-decoration: none;
    color: $link;
  }
  .post-title{
    &:hover{
      text-decoration: underline;
    }
  }
}

.post-title.post-title{
  color: $black;
  font-weight: $weight-bolder;
  font-size: 2rem;

}

.post-cover{
  display: block;
  margin: 2rem 0 1rem;
}

.post-content{
  font-size: 1.2rem;
  line-height: 1.5;
  color: $black;
}

.section-nav {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 20px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.category {
  display: inline-block; 
  border: 1px solid #ffffff; 
  color: #ffffff; 
  border-radius: 99em; 
  padding: 6px 12px; 
  width: auto; 
  text-align: center;
}

.category:hover {
  border: 1px solid #337ab7; 
  color: #337ab7; 
}