<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/WebSite">

  {% include head.html %}
  <body>
    <div class="hero-header" style="
      background-image: url('/img/landing.jpg'); 
      background-size: cover;
      background-repeat:   no-repeat;
      background-position: center center;">  
      <br>
      <div>
        <a href="/"><img src="/img/yo_emoji.png" width="20"><p style="color: white; font-weight: bold">dmartincc</p></a>
      </div>
      <br>
      <br>
      <div class="container-narrow center" id="fade-in">
        <h1 style="font-size:42px"><strong>David Martín-Corral Calvo</strong></h1>
        <br>
        <h2>
          Soy un Don Nadie, que no tiene ni p*** idea de casi nada. Artista, científico, ingeniero, empresario y libre pensador.
        </h2>
        <br>
        <br>
        <br>
      </div>
    </div>

    <br>
    <br>
    <div class="container-narrow">
      <div class="wrapper">
        <div class="post-content" aria-label="Content">
          <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
              <h2 class="post-title" itemprop="name headline">{{ page.subtitle | escape }}</h2>
            </header>
            <div class="post-content" itemprop="articleBody">
              {{ content }}
            </div>
          </article>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>