<!doctype html>
<html ang="{{ page.lang }}" itemscope itemtype="http://schema.org/WebSite">

    <div class="language-switcher">
      <a id="lang-switcher" href="#">🇪🇸 / 🇬🇧</a>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var langSwitcher = document.getElementById("lang-switcher");
        var currentPath = window.location.pathname;


          // Check if the current path starts with '/en' (English version)
          var isEnglish = currentPath.startsWith("/en");
          var newPath;

          // Switch between '/en' and '/' (Spanish version) depending on the current language
          if (isEnglish) {
              newPath = currentPath.replace("/en", "");  // Replace '/en' with the root, i.e., Spanish version
          } else {
              newPath = "/en" + currentPath;  // Add '/en' before the current path for English
          }

          // Update the link to switch languages
          langSwitcher.href = newPath;
        
    });
    </script>

    <style>
    .language-switcher {
        position: fixed;
        top: 10px;
        right: 20px;
        background: #f4f4f4;
        padding: 8px;
        border-radius: 5px;
        font-size: 18px; /* Larger flag icons */
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px; /* Space between flags */
    }
    .language-switcher a {
        text-decoration: none;
        color: #333;
    }
    </style>

  {% include head.html %}
  <body>
    <!-- <div class="hero-header" style="
      background-image: url('/img/landing.jpg'); 
      background-size: cover;
      background-repeat:   no-repeat;
      background-position: center center;">  
      <br>
      <div>
        <a href="/"><img src="/img/yo_emoji.png" width="20"><p style="color: white; font-weight: bold">dmartincc</p></a>
      </div>
      <br>
      <br>
      <div class="container-narrow center" id="fade-in">
        <h1 style="font-size:42px"><strong>David Martín-Corral Calvo</strong></h1>
        <br>
        <h2>
          Soy un Don Nadie, que no tiene ni p*** idea de casi nada. Artista, científico, ingeniero, empresario y libre pensador.
        </h2>
        <br>
        <br>
        <br>
      </div>
    </div> -->

    <br>
    <br>
    <div class="container-narrow">
      <div class="wrapper">
        <div class="post-content" aria-label="Content">
          <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
              <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
            </header>
            <div class="post-content" itemprop="articleBody">
              {{ content }}
            </div>
          </article>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>